.container__smal-card{


  width: 700px;
margin-bottom: 15px;
}
.container__smal-card-content{
  display: flex;
  flex-direction: row;
}
.smal-card__photo > img {
width: 200px;
min-width: 200px;
margin-right: 20px;

}
.smal-card__title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__smal-card__separator > hr{
border: 0px;
  margin-top: 10px;
}
